* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* set background image */
body {
    width: 100%;
    height: 100%;
    position:relative;
    z-index:1;
    background-color: rgba(0, 0, 0, 1);
}
body:after{
    background-image:url("../images/paris.jpg");
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.2!important;
    filter:alpha(opacity=70);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
    background-size: cover;
}

/* header */
header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12%;
}
ul li{
    list-style: none;
}
#home,a {
    font:bold 18px "malgun gothic";
    color: #038ac8;
    text-decoration: none;
}
.countryMenu {
    font-size: 14px;
}
#menubar {
    display: flex;
    text-align: center;
    font:bold 18px "malgun gothic";
    line-height: 30px; 
    margin:0 auto;
}
#menubar > ul {
    display: flex;
    flex-wrap: wrap;
    color: #038ac8;
}
#menubar > ul > li {
    float:left;
    width:140px;
    position:relative;
}
#menubar > ul > li > ul {
    width:140px;
    display:none;
    position: absolute;
}
/* show menu */
#menubar > ul > li:hover > ul {
    display:block;
    font:bold 14px "malgun gothic";
    line-height: 25px; 
}

/* main */
#wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#frame {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin-top: 10%;
    border-radius: 10px;
}
#map {
    flex: 40%;
    width: 100%;
    height: 100%;
}
#map img {
    width: 65%;
    height: 80%;
    margin: 8% 0 0 10%;
}
#time {
    flex: 21%;
    width: 100%;
    height: 100%;
}
#text {
    /* padding-top: ; */
    color: white;
    line-height: 20px;
    font: bold 12px malgun gothic;
}
.title {
    font-size: 20px;
    color: #48b5e8;
}
#where {
    flex: 38%;
    width: 100%;
    height: 100%;
}
#where img {
    width: 100%;
    height: 100%;
    padding-right: 10%;
}



/* media query */
@media screen and (max-width: 1300px) {
    body {
        height: 120%;
    }
    body:after {
        height: 120%;
    }
    header {
        position: static;
    }
    #menubar>ul>li {
        flex: calc(25% - 25px);
    }
}

@media screen and (max-width: 830px) {
    body {
        height: 150%;
    }
    body:after {
        height: 130%;
    }
    header {
        position: static;
    }
    #frame {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    #menubar>ul>li {
        flex: calc(25% - 25px);
    }
    #time {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 400px) {
    body {
        height: 135%;
    }
    body:after {
        background-attachment: fixed;
        height: 140%;
    }
    header {
        position: static;
    }
    #frame {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        height: 100%;
    }
    #map {
        width: 100%;
        height: 100%;
        padding-right: 1%;
        margin-bottom: 100px;
    }
    #menubar>ul>li {
        flex: calc(25% - 25px);
    }
    #time {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 120px;
    }
}