* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* set background image */
body {
    width: 100%;
    height: 100%;
    position:relative;
    z-index:1;
}
body:after{
    background-image:url("../images/swis.jpg");
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.6!important;
    filter:alpha(opacity=60);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
    background-size: cover;
}

/* header */
header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12%;
}
ul li{
    list-style: none;
}
#home,a {
    font:bold 18px "malgun gothic";
    color: black;
    text-decoration: none;
}
.countryMenu {
    font-size: 14px;
}
#menubar {
    display: flex;
    text-align: center;
    font:bold 18px "malgun gothic";
    line-height: 50px; 
    margin:0 auto;
}
#menubar > ul {
    display: flex;
    flex-wrap: wrap;
}
#menubar > ul > li {
    float:left;
    width:140px;
    position:relative;
}
#menubar > ul > li > ul {
    width:140px;
    display:none;
    position: absolute;
}
/* show menu */
#menubar > ul > li:hover > ul {
    display:block;
    font:bold 14px "malgun gothic";
    line-height: 25px; 
}

/* main */
#wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#frame{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 70%;
    margin-top: 10%;
    padding: 1% 0 1% 1%;
    background: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4),  rgba(255, 255, 255, 0) );
    border-radius: 10px;
}
#map {
    flex: 40%;
    width: 100%;
    height: 100%;
}
#map img{
    width: 100%;
    height: 100%;
}
#where{
    color: black;
    font: bold 19px "malgun gothic";
    flex: 60%;
    padding: 3% 3% 3% 6%;
    line-height: 2em;
}

/* media query */
    @media screen and (max-width: 800px) {

        #frame {
            margin-top: 130px;
        }
        #menubar > ul > li {
            flex: calc(25% - 25px);
        }

    }
    @media screen and (max-width: 500px) {

        #frame {
            flex-direction: column;
            margin-top: 130px;
            height: 100%;
        }
        #map {
            width: 100%;
            height: 100%;
            padding-right: 1%;
        }
        #menubar > ul > li {
            flex: calc(25% - 25px);
        }
        body:after {
            background-attachment: fixed;
            height: 120%;
        }

    }