* {
    margin: 0;
    padding: 0;
}
html,body,footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 85px;
}
ul li{
    list-style: none;
}
#home,a {
    font:bold 16px "malgun gothic";
    text-decoration-line: none;
    color: black;

}
#menu {
    display: flex;
    text-align: center;
    font:bold 16px "malgun gothic";
    line-height: 50px; 
    margin:0 auto;
}
#menu > ul > li {
    float:left;
    width:140px;
    position:relative;
}
#menu > ul > li > ul {
    width:140px;
    display:none;
    position: absolute;
}
/* show menu */
#menu > ul > li:hover > ul {
    display:block;
    font:bold 14px "malgun gothic";
    line-height: 25px; 
}

/* main */
#main {
    width: 100%;
    height: 100%;
    position:relative;
    z-index:1;
}
#main:after{
    background-image:url("../images/swis.jpg");
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.6!important;
    filter:alpha(opacity=60);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
    background-size: cover;
}